In [25]:
import pandas as pd

In [26]:
school_path = 'Resources/schools_complete.csv'
student_path = 'Resources/students_complete.csv'
school_data = pd.read_csv(school_path)
student_data = pd.read_csv(student_path)

In [35]:
student_data.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61

In [27]:
school_num = school_data['school_name'].nunique()
total_students = student_data['student_name'].nunique()
total_budget = school_data['budget'].sum()
avg_math_score = student_data['math_score'].mean()
avg_read_score = student_data['reading_score'].mean()

In [46]:
data_summ = pd.DataFrame({'Number of Schools': [school_num],
                         'Total Students': [total_students],
                         'Total Budget': [total_budget],
                         'Average Math Score': [avg_math_score],
                         'Average Reading Score': [avg_read_score]})

data_summ['Total Budget'] = data_summ['Total Budget'].map("${:}".format)
data_summ['Average Math Score'] = data_summ['Average Math Score'].map("{:.2f}%".format)
data_summ['Average Reading Score'] = data_summ['Average Reading Score'].map("{:.2f}%".format)

passing_math_df = student_data.loc[student_data['math_score'] > 70]
passing_math = (passing_math_df['Student ID'].nunique() / total_students)*100

passing_read_df = student_data.loc[student_data['reading_score'] > 70]
passing_read = (passing_read_df['Student ID'].nunique() / total_students)*100

passing_both_df = student_data.loc[(student_data['math_score'] > 70) & (student_data['reading_score'] > 70)]
passing_both = (passing_both_df['Student ID'].nunique() / total_students)*100

data_summ['% Passing Math'] = passing_math
data_summ['% Passing Reading'] = passing_read
data_summ['% Passing Both'] = passing_both
data_summ

,Number of Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Both
0,15,32715,$24649428,78.99%,81.88%,86.675837,99.342809,72.798411